{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "persons" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "persons" %}</h2>
{% if user.is_authenticated %}	
<div class="row">
	<div class="div-width-100-text-center">
		<h3 style="text-align: center;">{% trans "Search" %}</h3>
	</div>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-3" >	
				<p>{% trans "country" %}</p>
				<input class="form-control mr-sm-2" type="search" list="country_datalist" autocomplete="on" value="{{country_search}}" name="country_search" style="width: 200px">					
				<datalist id="country_datalist">
					{% if country_list.count > 0 %}
						{% for n in country_list %}
							{% if n.country != None %}
								<option>{{ n.country }}</option>
							{% endif %}	
						{% endfor %}
					{% endif %}
				</datalist>
			</div>								
			<div class="col-md-3">
				<p>{% trans "city" %}</p>
				<input class="form-control mr-sm-2" type="search" list="city_datalist" autocomplete="on" value="{{city_search}}" name="city_search" style="width: 200px">					
				<datalist id="city_datalist">
					{% if city_list.count > 0 %}
						{% for n in city_list %}
							{% if n.city != None %}
								<option>{{ n.city }}</option>
							{% endif %}	
						{% endfor %}
					{% endif %}
				</datalist>
			</div>
			<div class="col-md-3">
				<p>{% trans "marital_status" %}</p>
				<input class="form-control mr-sm-2" type="search" list="marital_status_datalist" autocomplete="on" value="{{marital_status_search}}" name="marital_status_search" style="width: 200px">					
				<datalist id="marital_status_datalist">
					{% if marital_status_list.count > 0 %}
						{% for n in marital_status_list %}
							{% if n.marital_status != None %}
								<option>{{ n.marital_status }}</option>
							{% endif %}	
						{% endfor %}
					{% endif %}
				</datalist>
			</div>
			<div class="col-md-3">
				<p>{% trans "nationality" %}</p>
				<input class="form-control mr-sm-2" type="search" list="nationality_datalist" autocomplete="on" value="{{nationality_search}}" name="nationality_search" style="width: 200px">					
				<datalist id="nationality_datalist">
					{% if nationality_list.count > 0 %}
						{% for n in nationality_list %}
							{% if n.nationality != None %}
								<option>{{ n.nationality }}</option>
							{% endif %}	
						{% endfor %}
					{% endif %}
				</datalist>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-3" >	
				<p>{% trans "education" %}</p>
				<input class="form-control mr-sm-2" type="search" list="education_datalist" autocomplete="on" value="{{education_search}}" name="education_search" style="width: 200px">					
				<datalist id="education_datalist">
					{% if education_list.count > 0 %}
						{% for n in education_list %}
							{% if n.education != None %}
								<option>{{ n.education }}</option>
							{% endif %}	
						{% endfor %}
					{% endif %}
				</datalist>
			</div>								
			<div class="col-md-3">
				<p>{% trans "eye_color" %}</p>
				<input class="form-control mr-sm-2" type="search" list="eye_color_datalist" autocomplete="on" value="{{eye_color_search}}" name="eye_color_search" style="width: 200px">					
				<datalist id="eye_color_datalist">
					{% if eye_color_list.count > 0 %}
						{% for n in eye_color_list %}
							{% if n.eye_color != None %}
								<option>{{ n.eye_color }}</option>
							{% endif %}	
						{% endfor %}
					{% endif %}
				</datalist>
			</div>
			<div class="col-md-3">
				<p>{% trans "hair_color" %}</p>
				<input class="form-control mr-sm-2" type="search" list="hair_color_datalist" autocomplete="on" value="{{hair_color_search}}" name="hair_color_search" style="width: 200px">					
				<datalist id="hair_color_datalist">
					{% if hair_color_list.count > 0 %}
						{% for n in hair_color_list %}
							{% if n.hair_color != None %}
								<option>{{ n.hair_color }}</option>
							{% endif %}	
						{% endfor %}
					{% endif %}
				</datalist>
			</div>
			<div class="col-md-3">
				<p>{% trans "body_type" %}</p>
				<input class="form-control mr-sm-2" type="search" list="body_type_datalist" autocomplete="on" value="{{body_type_search}}" name="body_type_search" style="width: 200px">					
				<datalist id="body_type_datalist">
					{% if body_type_list.count > 0 %}
						{% for n in body_type_list %}
							{% if n.body_type != None %}
								<option>{{ n.body_type }}</option>
							{% endif %}	
						{% endfor %}
					{% endif %}
				</datalist>
			</div>
		</div>
		<hr>
		<div>
			<button class="btn btn-outline-success" name="searchBtn" style="width:100px">{% trans "Search" %}</button>	
			<button class="btn btn-outline-primary" name="resetBtn" type="submit" onClick="window.location.reload();" style="width:100px">{% trans "Reset" %}</button>																							
		</div>
		<br>
	</form>	
</div>
{% endif %}	
<div>
	<div class="div-width-100-text-center">
		<h3 style="text-align: center;">{% trans "Persons" %}</h3>
	</div>
{% if person.count > 0 %}
	<table id="myTable" style="width:100%">
		<thead>
			<tr>
				<th></th>				
			</tr>
		</thead>
		<tbody>
			{% for n in person %}
			<tr>
				<td>
					<div class="card">
						<div class="card-header">
							<h4><a href="{% url 'person_read' n.id %}"> {{ n.user.first_name }}</a></h4>	
							{% if friend.count > 0 %}
								{% for f in friend %}
									{% if f.person_id == n.id or f.amigo_id == n.id %}
										{% if f.confirmation == True %}
											<h5>{% trans "You are friends" %}</h5>
										{% else %}
											<h5>{% trans "Unverified friend" %}</h5>
										{% endif %}
									{% endif %}									
								{% endfor %}
							{% endif %}							
						</div>
						<div class="card-body">					
							<div class="row">
								<div class="col-md-9">
									<h5><strong>{% trans "country" %}:</strong> {{ n.country }}</h5>
									<h5><strong>{% trans "city" %}:</strong> {{ n.city }}</h5>									
								</div>								
								<div class="col-md-3">
									{% if n.avatar.url != None %}
										<img style="width:100%; max-width:400px;" src="{{ n.avatar.url}}" alt="" title="">
									{% elif n.sex == 'М' %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/male.jpg' %}" alt="" title="">
									{% elif n.sex == 'Ж' %}
										<img style="width:100%; max-width:400px;" src="{% static 'images/woman.jpg' %}" alt="" title="">
									{% endif %}
								</div>
							</div>
						</div>
						<div class="card-footer text-muted">
							
						</div>
					</div>
				</td>	
			</tr>
			{% endfor %}	
		</tbody>
	</table>	
</div>
{% endif %}
{% endblock content %}

