{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{{ user_info }}</h2>
<hr>
<a href="{% url 'my_account' %}">{% trans "My account" %}</a>
<hr>
<a href="{% url 'password_change' %}">{% trans "Change password" %}</a>
<hr>
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h4>{{ person.fio }}</h4>
			<a href="{% url 'person_edit'%}">{% trans "Change" %}</a> 					
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-9">
					<p><strong>{% trans "birthday" %}:</strong> {{ person.birthday | date:"d.m.Y" }}</p>
					<p><strong>{% trans "nationality" %}:</strong> {{ person.nationality }}</p>
					<p><strong>{% trans "marital_status" %}:</strong> {{ person.marital_status }}</p>
					{% if person.amount_of_children != 0 %}
						<p><strong>{% trans "amount_of_children" %}:</strong> {{ person.amount_of_children }}</p>
					{% endif %}
					{% if person.phone_number != None %}
						<p><strong>{% trans "phone_number" %}:</strong> {{ person.phone_number }}</p>
					{% endif %}
					{% if person.email != None %}
						<p><strong>{% trans "email" %}:</strong> {{ person.email }}</p>
					{% endif %}
					<p><strong>{% trans "country" %}:</strong> {{ person.country }}</p>
					<p><strong>{% trans "city" %}:</strong> {{ person.city }}</p>
					{% if person.education != None %}
						<p><strong>{% trans "education" %}:</strong> {{ person.education }}</p>
					{% endif %}
					{% if person.occupation != None %}
						<p><strong>{% trans "occupation" %}:</strong> {{ person.occupation }}</p>
					{% endif %}
					{% if person.interests != None %}
						<p><strong>{% trans "interests" %}:</strong> {{ person.interests }}</p>
					{% endif %}
					{% if person.eye_color != None %}
						<p><strong>{% trans "eye_color" %}:</strong> {{ person.eye_color }}</p>
					{% endif %}
					{% if person.hair_color != None %}
						<p><strong>{% trans "hair_color" %}:</strong> {{ person.hair_color }}</p>
					{% endif %}
					{% if person.body_type != None %}
						<p><strong>{% trans "body_type" %}:</strong> {{ person.body_type }}</p>
					{% endif %}
					{% if person.height != None %}
						<p><strong>{% trans "height" %}:</strong> {{ person.height }}</p>
					{% endif %}
					{% if person.weight != None %}
						<p><strong>{% trans "weight" %}:</strong> {{ person.weight }}</p>
					{% endif %}
				</div>
				<div class="col-md-3">
					{% if person.avatar.url != None %}
						<img style="width:100%; max-width:400px;" src="{{ person.avatar.url}}" alt="" title="">
					{% elif person.sex == 'М' %}
						<img style="width:100%; max-width:400px;" src="{% static 'images/male.png' %}" alt="" title="">
					{% elif person.sex == 'Ж' %}
						<img style="width:100%; max-width:400px;" src="{% static 'images/woman.png' %}" alt="" title="">
					{% endif %}
					<h5>{{ my_status.title }}</h5>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<p>{% trans "user" %}: {{ person.user  }}</p>
			<p>{{ person.user.email  }}</p>
		</div>
	</div>
</div>


{% endblock content %}