{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "App Name" %}{% endblock title %}
{% block header %}
	
{% endblock header %}
{% block content %}
<div class="jumbotron">
	<div class="row justify-content-center;">
		<div class="row" >
			{% if LANGUAGE_CODE == 'kk' %}
				<h1>Сәлемдесу</h1>
				<p>Қош келдіңіз мәтіні</p>			
			{% else %}
				<h1>Приветствие</h1>
				<p>Текст приветствия</p>			
			{% endif %}
			<!-- <div class="col-md-8" >	 -->
				<!-- <h1>Приветствие</h1> -->
				
			<!-- </div>								 -->
			<!-- <div class="col-md-4"> -->
				<!-- <img src="{% static 'images/jumbotron.jpg' %}" alt="student" style="width:100%; padding: 10px;"> -->
			<!-- </div> -->
		</div>			
	</div>
</div>
<hr>
<div class="div-width-100-text-center">
	<h3 style="text-align: center;"><a href="{% url 'person_list'%}">{% trans "Persons" %}</a></h3>
</div>
<div class="person">
	<div class="row">
		{% if person.count > 0 %}
			{% for c in person %}
			<div class="col-lg-3 border" style="padding:10px;">
				{% if c.avatar.url != None %}
					<img class="img-center" src="{{ c.avatar.url}}" alt="" title="">
				{% elif c.sex == 'М' %}
					<img class="img-center" src="{% static 'images/male.jpg' %}" alt="" title="">
				{% elif c.sex == 'Ж' %}
					<img class="img-center" src="{% static 'images/woman.jpg' %}" alt="" title="">
				{% endif %}
				<h5><a href="{% url 'person_read' c.id %}">{{ c.user.first_name }}</a></h5>
			</div>
			{% endfor %}
		{% endif %}						
	</div>	
</div>
{% endblock content %}